@charset "utf-8";

html {
  height: 100%;
}

body {
  height: 100%;
  background: url(/kuma.png);
  background-size: cover;
}
@media (max-width: 767px) {
  body {
    background-position-x: -270px;
  }
}

#main {
  padding: 64px;
  line-height: 1.1rem;
}
